# From BGV
.DS_Store
RoomCharges/.vs/
RoomCharges/bin/
RoomCharges/obj/

# VScode
.vscode/

# DB
RoomCharges/Data/RoomCharges.db

# For email test
TestEmailService/.vs/
TestEmailService/bin/
TestEmailService/obj/
