# From BGV
.DS_Store

RoomCharges/.vs/

RoomCharges/bin/

RoomCharges/obj/

# VScode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
